  <ion-view view-title="Chat" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-content>
   <div ng-repeat="chat in chats ">

    <div class="message">
      <span>{{ chat.texto_chat }}</span>
    </div>

    <div class="time">{{chat.id_ruta}}</div>
  </div>
</ion-content>
<ion-footer-bar keyboard-attach class="bar-coopapp item-input-inset">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" ng-model="input_chat" />
  </label>
  <button class="button button-clear" ng-click="sendMessage()">
    Enviar
  </button>
</ion-footer-bar>