<ion-view view-title="Ruta" left-buttons="leftButtons" right-buttons="rightButtons">
<ion-content ng-init="">
	<ion-list>
		<ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
			<div>
				<h2>Ruta #41</h2>
				<p>Origen: BANDERAS</p>
				<p>Destino: CASTILLA</p>
			</div>
		</ion-item>
		<div class="list card">
			<a href="#"  ng-click="showConfirm()" class="item item-icon-left">
				<i class="icon ion-alert-circled"></i>
				Averiada
			</a>
			<a href="#"  ng-click="showConfirm()" class="item item-icon-left">
				<i class="icon ion-checkmark-circled"></i>
				Activa
			</a>

			<a href="#"  ng-click="showConfirm()" class="item item-icon-left">
				<i class="icon ion-minus-circled"></i>
				Inactiva
			</a>
		</div>
	</ion-list>
	<button class="button button-balanced center" ng-click="verResumenRuta()">Ver Historial Notificaiones</button>
</ion-content>
</ion-view>
